.banner-image img {
  width: 90%;
  height: 95vh;
  background-size: cover;
}
.blank {
  z-index: 1;
  width: 100%;
  height: 150px;
  background-color: #f0f4f6;
}
.img-text p {
  width: 38%;
  padding-left: 200px;
  left: 11%;
  position: absolute;
  top: 38%;
  font-size: 50px;
  color: white;
}
.img-text {
  display: flex;
}
.banner-image {
  background-color: #2cd9d1;
}

.banner {
  background-color: aqua;
}
@media screen and (max-width: 1325px) {
  .img-text p {
    display: none;
  }
}
