@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: #212432;
  padding: 200px 0;
}

.text {
  padding: 0 19%;
}

.numbers {
  display: flex;
  padding: 80px 15%;
}

.text p {
  color: #7b7f92;
  font-size: 13px;
}

.text h1 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.numbers h1 {
  color: #91eeda;
  font-size: 75px;
  font-weight: 300;
}

.numbers p {
  color: #ced0db;
  text-align: center;
}

.learn p {
  color: #4296cb;
}

p,
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 990px) {
  .numbers h1 {
    color: #91eeda;
    font-size: 55px;
    font-weight: 300;
  }
  .numbers p {
    font-size: 15px;
    color: #ced0db;
    text-align: center;
  }
  .numbers {
    display: block;
  }
}

@media screen and (max-width: 1200) {
  .numbers {
    padding-right: 15px;
  }
}
